name: Eternals eu-user - Test Build & Push

on:
  push:
    branches:
      - eros-user-dev

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install deps
        run: poetry install

      - name: Run lint check
        run: poetry run pre-commit run --all-files

  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create .env
        run: |
          cat << EOF > .env
          APP_ENVIRONMENT=test
          APP_DB_BASE=app_test
          APP_GOOGLE_CLIENT_ID=dummy
          APP_GOOGLE_ANDROID_CLIENT_ID=dummy
          APP_GOOGLE_IOS_CLIENT_ID=dummy
          APP_GOOGLE_WEB_CLIENT_ID=dummy
          APP_APPLE_CLIENT_ID=dummy
          APP_APPLE_IOS_CLIENT_ID=dummy
          APP_APPLE_TEAM_ID=dummy
          APP_APPLE_KEY_ID=dummy
          APP_APPLE_PRIVATE_KEY=dummy
          APP_FACEBOOK_CLIENT_ID=dummy
          APP_FACEBOOK_CLIENT_SECRET=dummy
          APP_FUSIONAUTH_URL=http://localhost:9011
          APP_FUSIONAUTH_API_KEY=dummy
          APP_FUSIONAUTH_CLIENT_ID=dummy
          OTEL_SDK_DISABLED=true
          EOF

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install docker-compose
        uses: KengoTODA/actions-setup-docker-compose@v1
        with:
          version: "2.28.0"

      - name: Run tests
        run: |
          docker-compose run --rm api pytest -vv

  build-and-push:
    needs: [lint, pytest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set IMAGE_TAG
        run: echo "IMAGE_TAG=eu-user-dev-${GITHUB_SHA}" >> $GITHUB_ENV

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: immersoaiip/lg-erosuniverse:${{ env.IMAGE_TAG }}

      - name: Install yq
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq

      - name: Update Helm Charts Repo (Test)
        env:
          GIT_USER: ${{ secrets.GIT_OPS_GITHUB_USER }}
          GIT_TOKEN: ${{ secrets.GIT_OPS_GITHUB_TOKEN }}
        run: |
          git clone https://$GIT_USER:$GIT_TOKEN@github.com/Immerso-AIIP-Ltd/eros-universe-Helm-charts.git
          cd eros-universe-Helm-charts
          git checkout eros-universe-dev
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

          service="charts-eternal-eu-userapp/values.yaml"
          yq e ".image.repository = \"immersoaiip/lg-erosuniverse\"" -i "$service"
          yq e ".image.tag = \"${IMAGE_TAG}\"" -i "$service"

          git add "$service"
          git commit -m "chore: update eu-userapp image tag to ${IMAGE_TAG}" || echo "No changes to commit"
          git push origin eros-universe-dev
